DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=paydb
DB_USER=somehuman
DB_PASSWORD=password
PORT=8080
ENCRYPTION_KEY=
VERIFY_DOMAIN_SECRET=
ADMIN_API_KEY=
EMAILER=stdout
RESEND_API_KEY=
DOMAIN=saftaja.com
JWT_PRIVATE_KEY=

# Production only (for Caddy)
ACME_EMAIL=
BASE_DOMAIN=
TS_AUTHKEY=
