{
	email {$ACME_EMAIL}

	on_demand_tls {
		ask http://khazina:8080/verify-domain?secret={$VERIFY_DOMAIN_SECRET}
	}
}

#{$BASE_DOMAIN} {
#	reverse_proxy bawaba:80
#}

#app.{$BASE_DOMAIN} {
#	reverse_proxy diwan:80
#}

khazina.{$BASE_DOMAIN} {
	reverse_proxy khazina:8080
}

:443 {
	tls {
		on_demand
	}
	reverse_proxy khazina:8080
}

:80 {
	redir https://{host}{uri} permanent
}
