{
  "$schema": "https://raw.githubusercontent.com/mistweaverco/kulala.nvim/main/schemas/http-client.env.schema.json",
  "dev": {
    "MERCHANT_ID": "",
    "API_PASSWORD": ""
  },
  "prod": {
    "MERCHANT_ID": "",
    "API_PASSWORD": ""
  }
}
